$color-black: #000;
$color-white: #fff;
$color-gray-light-1: #f7f7f7;
$color-gray-dark-1: #5f5f5f;


$color-secondary: rgba(20, 0, 197, 0.699);
$react-blue: blue;
$color-yellow-javascript: rgb(240, 219, 79);
$color-black-javascript: rgb(50, 51, 48);
$color-css-red: red;

$color-icon-gray: rgba(10, 10, 10, 0.788);

// Icons 
$color-fb: rgb(60,90,153);
$color-link: rgb(0, 119, 181);
$color-fcc: #006400;
$color-git: #6e5494;



.footer{
    
    width: 100%;
    display: block;
    
    &__header{
        text-transform: capitalize;
        font-size: 4rem;
        font-weight: 400;
        text-align: center;
        margin:0;
        color: black;
        


        &-icons{
            margin-top: 3.5rem;
            display: flex;

            justify-content: center;

           
        }
        
    }
    &-icon{
              
        font-size: 3.5rem;
        opacity: 1;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 3rem;
           
        }

        

        &-fb{
            color: $color-fb;
            text-decoration: none;


            &:hover{
                color: darken( $color-fb, 15% )
            }

        }
        &-fcc{
            color: $color-fcc;
            text-decoration: none;

            &:hover{
                color: darken($color-fcc, 15%);
                text-decoration: none;
            }
        }
        &-link{
            color: $color-link;
            text-decoration: none;

            &:hover{
                color: darken($color-link, 15%);
                text-decoration: none;
            }
        }
        &-git{
            color: $color-git;
            text-decoration: none;

            &:hover{
                color: darken($color-git, 15%);
                text-decoration: none;
            }
        }
        &-email{
            color: gray;
            text-decoration: none;

            &:hover{
                color: darken(gray, 15%);
                text-decoration: none;
            }
        }

        &-codewars {
            

            & img {
                margin-bottom: .5rem;
            }

        }
        
        
    }

    &--link{
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

}
    

