.sidebar{


    &__container{
       

    }

    &__item{

        display: flex;
        align-items: center;
        padding: 3rem 3rem;
        transition: all .2s;
        
        cursor: pointer;

        &:hover{
            background-color: #80ACD1;             
            
        }

        & p {
            color: rgb(12, 11, 11);
            font-size: 2rem;
            margin-left: 1rem;
        }
        & svg{
            margin-right: .5rem;
            
        }
    }
}


.icon__cloud{

    
}